// Colors
$dark-grey: #333333;
$light-grey: #666;
$blue: #1c88bf;
$dark-blue: #364051;
$grey: #888888;
$off-white: #f7f7f7;

//font size
$font-size-large: 1.8rem;
$font-size-medium: 1.4rem;

// spacing
$s-size: 1.2rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;
